<header>
<div class="row" style="top:0px">
  <div class="col-md-4"> <img src="../../../assets/sonomusic.png" alt="sonomusic" class="img-fluid logo-ht ml-sm-5"></div>
  <div class="col-md-4 ml-auto">
    
    <p><strong>Adresse:</strong> 60,rue de l'energie charguia 1</p>
  
    <p><strong>Tel:</strong> 71 807 913 - 28 988 488 </p>
  
    <p><strong>Email:</strong> sonomusic.tn@gmail.com</p>
  
  </div>
</div>
</header>

<div class="container p-0" >
  
    
  <button (click)="printMe()" class="mat-raised-button mat-button-base mat-primary">Print</button>
  
  <div class="row">
  <div class="card border-0 rounded-0 bg-white">
        <div class="card-body p-0">
          <div class="row mx-0">
          
            <table  style=" border: 1px solid black;width:800px" >
              <th  [ngStyle]="{'text-align':'center'}"> INFORMATION SUR LE PRODUIT</th>
            <tbody>
            <tr >
            <td >
              <p [ngStyle]="{'font-family':'Cambria'}"><strong>Date d'entrée:</strong>&nbsp; {{userdata.editUser.date | date:"dd-MM-yy"}}</p>
            <p  [ngStyle]="{'font-family':'Cambria'}"> <strong>Marque:</strong>&nbsp; {{userdata.editUser.nom}}</p>
            <p  [ngStyle]="{'font-family':'Cambria'}"><strong>Modèle:</strong>&nbsp; {{userdata.editUser.prenom}}</p>
            <p  [ngStyle]="{'font-family':'Cambria'}"><strong>Numéro de série </strong>&nbsp; {{userdata.editUser.designation}}</p>
                        <p  [ngStyle]="{'font-family':'Cambria'}"><strong>Date d'achat:</strong> &nbsp; {{userdata.editUser.panne_client}}</p>
            <p  [ngStyle]="{'font-family':'Cambria'}"><strong>Garantie :</strong> &nbsp; {{userdata.editUser.garantie}}</p>
            <p  [ngStyle]="{'font-family':'Cambria'}"><strong>J'autorise la r&eacute;paration int&eacute;grale:  &nbsp; {{userdata.editUser.reparation}}</strong></p>
            <p  [ngStyle]="{'font-family':'Cambria'}" *ngIf="userdata.editUser.frais_diagnostic=='no'"><strong> Service Non payé à l'avance </strong></p>
            <p   [ngStyle]="{'font-family':'Cambria'}" *ngIf="userdata.editUser.frais_diagnostic=='yes'"><strong> Service  payé à l'avance </strong></p>	
            
            </td>
            </tr>
            </tbody>
            </table>

        </div>
        
      </div>
<br>

      <div class="card-body p-0">
        <div class="row mx-0">
          
          
          <table  style=" border: 1px solid black;width:800px" >
            <th  [ngStyle]="{'text-align':'center'}"> INFORMATION SUR LA PANNE </th>
          <tbody>
          <tr >
          <td >
            <p [ngStyle]="{'font-family':'Cambria'}"><strong>Description de la panne :</strong>&nbsp; {{userdata.editUser.panne_client}}</p>
          
          </td>
          </tr>
          </tbody>
          </table>





        
      </div>
      
    </div>
<br>
    
    <div class="card-body p-0">
      <div class="row mx-0">
        
        
        <table  style=" border: 1px solid black;width:800px" >
          <th  [ngStyle]="{'text-align':'center'}"> INFORMATION SUR LE CLIENT</th>
        <tbody>
        <tr >
        <td >
          <p [ngStyle]="{'font-family':'Cambria'}"><strong>Nom et prénom :</strong>&nbsp; {{userdata.editUser.prenom}}&nbsp; {{userdata.editUser.nom}}  </p>
        
        </td>
        <td >
          <p [ngStyle]="{'font-family':'Cambria'}"><strong>Tel :</strong>&nbsp; {{userdata.editUser.tel}}&nbsp; {{userdata.editUser.nom}}  </p>
        
        </td>
        <td >
          <p [ngStyle]="{'font-family':'Cambria'}"><strong>Email :</strong>&nbsp; {{userdata.editUser.email}}&nbsp; {{userdata.editUser.nom}}  </p>
        
        </td>
       
        </tr>
        </tbody>
        </table>


      
    </div>
    
  </div>
      
  </div>
  </div>
  <div class="row">
    <div class="col"> SIGNATURE CLIENT</div>
    <div class="col">SIGNATURE SONOMUSIC</div>
  </div>
  

  
  
  
  